<footer class="footer">
  <div class="container">
    <div class="image-logo-sec">
      <img src="" alt="" />
      <a class="logo" href="">
        <svg>
          <use></use>
        </svg>
        veggieboost
      </a>
    </div>
    <div class="important-links-sec">
      <ul class="important-links-list">
        <li class="important-link-item">
          <a class="important-link" href="">How It Works</a>
        </li>
        <li class="important-link-item">
          <a class="important-link" href="">Vegetables</a>
        </li>
        <li class="important-link-item">
          <a class="important-link" href="">Contacts</a>
        </li>
      </ul>
    </div>
    <ul class="soc-links-list">
      <li class="soc-links-item">
        <svg class="soc-icon" width="24" height="24">
          <use href=""></use>
        </svg>
      </li>
      <li class="soc-links-item">
        <svg class="soc-icon" width="24" height="24">
          <use href=""></use>
        </svg>
      </li>
      <li class="soc-links-item">
        <svg class="soc-icon" width="24" height="24">
          <use href=""></use>
        </svg>
      </li>
    </ul>
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <a class="address-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="address-item">
          <a class="address-link" href=""
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
