<header class="page-heder">
    <div class="container heder-container">
        <nav class="nav-heder">
            <svg class="icon-logo" width="16px" height="16px">
                <use href="../img/sprite.svg#icon-logo"></use>
            </svg>
            <a class="logo-link" href="/">VEGGIEBOOST</a>
        </nav>
        <button type="button" class="mob-menu-open" data-menu-open>
            <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-menu-mobile"></use>
            </svg>
        </button>
    </div>
</header>