<header class="page-heder">
    <div class="container heder-container">
        <nav class="nav-heder">
            <ul class="site-nav">
                <li class="header-item">
                    <a class="header-link" href="#how-it-works">How It Works</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#vegetables">Vegetables</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#contacts">Contacts</a>
                </li>
            </ul>
            <svg class="icon-logo" width="16px" height="16px">
                <use href="../img/sprite.svg#icon-logo"></use>
            </svg>
            <a class="logo-link" href="/src/index.html">Veggieboost</a>
        </nav>
        <button type="button" class="mob-menu-open js-open-menu">
            <svg width="24px" height="24px">
                <use href="../img/sprite.svg#icon-menu-mobile"></use>
            </svg>
        </button>
        <button type="button" class="modal-btn">
            <svg class="modal-menu" width="20px" height="20px">
                <use href="../img/sprite.svg#icon-shop-cart"></use>
            </svg>
        </button>
    </div>

    <div class="mob-menu is-hidden js-menu-container">
        <div class="mob-logo-menu">
            <div class="nav-heder">
                <svg class="icon-logo" width="16px" height="16px">
                    <use href="../img/sprite.svg#icon-logo"></use>
                </svg>
                <a class="logo-link" href="/src/index.html">Veggieboost</a>
            </div>
            <button type="button" class="mob-menu-close js-close-menu">
                <svg class="icon-close" width="24px" height="24px">
                    <use href="../img/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="mob-nav">
            <ul class="mob-list">
                <li class="mob-item">
                    <a class="mob-link" href="#how-it-works">How It Works</a>
                </li>
                <li class="mob-item">
                    <a class="mob-link" href="#vegetables">Vegetables</a>
                </li>
                <li class="mob-item">
                    <a class="mob-link" href="#contacts">Contacts</a>
                </li>
            </ul>
            <button type="button" class="icon-btn">
                <svg class="icon-shop" width="20px" height="20px">
                    <use href="../img/sprite.svg#icon-shop-cart"></use>
                </svg>
            </button>
        </div>
    </div>
</header>