<section class="hero-sec container">
    <div class="hero-container">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <h1 class="hero-title">organic vegetables to your diet today!</h1>
            <p class="">
                Our expertly curated vegetable baskets are made with the freshest,
                highest quality vegetables available. 
                Fresh Harvest Box has got you covered. 
                Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.  
            </p>
            <button type="button">Shop now</button>
            <img src="" alt="Girl-with-vegetables">
        </ul>
    </div>
</section>