<section class="hero-sec container">
    <div class="hero-container">
        <ul class="reviews-group">
            <li class="review">
              <span class="rev-1">
              <picture class="review-img">
                <source
                  srcset="
                    ./img/review1-desktop.png 1x,
                    ./img/review1-desktop-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/review1-tablet.png    1x,
                    ./img/review1-tablet-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/review1-mobile.png    1x,
                    ./img/review1-mobile-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="review-img"
                  src="./img/review1.png"
                  alt="person-review-1"
                />
              </picture>
            </span>
            </li>
            <li class="review">
              <span class="rev-2">
              <picture class="review-img">
                <source
                  srcset="
                    ./img/review2-desktop.png 1x,
                    ./img/review2-desktop-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/review2-tablet.png    1x,
                    ./img/review2-tablet-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/review2-mobile.png    1x,
                    ./img/review2-mobile-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="review-img"
                  src="./img/review2.png"
                  alt="person-review-2"
                />
              </picture>
            </span>
            </li>
            <li class="review">
            <span class="rev-3">
              <picture class="review-img">
                <source
                  srcset="
                    ./img/review3-desktop.png 1x,
                    ./img/review3-desktop-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/review3-tablet.png    1x,
                    ./img/review3-tablet-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/review3-mobile.png    1x,
                    ./img/review3-mobile-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="review-img"
                  src="./img/review3-mobile.png"
                  alt="person-review-3"
                />
              </picture>
            </li>
          </span>
            <li class="review">
              2K<span class="review-2k">reviews</span>
            </li>
        </ul>
            <h1 class="hero-title">organic <span class="veg-title-hero">vegetables</span> to your diet today!</h1>
            <p class="hero-text">
                Our expertly curated vegetable baskets are made with the freshest,
                highest quality vegetables available. 
                Fresh Harvest Box has got you covered. 
                Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.  
            </p>
            <button type="button" class="buy-button">Shop now</button>
            <picture class="hero-img">
                <source
                  srcset="
                    ./img/hero-desktop.png 1x,
                    ./img/hero-desktop-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/hero-tablet.png    1x,
                    ./img/hero-tablet-2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/hero-mobile.png    1x,
                    ./img/hero-mobile-2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="hero-img"
                  src="./img/hero-mobile.png"
                  alt="Girl-with-vegetables"
                />
              </picture>
              <div class="products-hero-hash">
              <ul class="products-hero">
                <li class="product-hero">#organic</li>
                <li class="product-hero">#products</li>
                <li class="product-hero">#basket</li>
                <li class="product-hero">#vegetables</li>
              </ul>
            </div>
    </div>
</section>