<section class="how-it-works container">
  <div class="how-works-container">
    <h2 class="how-works-title">
      To order your vegetable basket, simply follow these easy steps
    </h2>
    <picture class="how-works-pic">
      <source
        srcset="
          ./img/steps-broccoli-desktop.png    1x,
          ./img/steps-broccoli-desktop-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/steps-broccoli-tablet.png    1x,
          ./img/steps-broccoli-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/steps-broccoli-mobile.png    1x,
          ./img/steps-broccoli-mobile-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="how-works-pic"
        src="./img/steps-broccoli-mobile.png"
        alt="Broccoli"
        width="335"
        height="158"
      />
    </picture>

    <ul class="how-works-list">
      <li class="how-works-item first-item">
        <p class="how-works-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </li>
      <li class="how-works-item second-item">
        <p class="how-works-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </li>
    </ul>
  </div>
  <div class="how-to-by">
    <div class="steps-container">
      <h3 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
      <div class="lists-container">
        <ol class="steps-list">
          <li class="steps-item">
            <p class="how-works-text">
              Just choose the vegetable you want to order by clicking on the
              checkboxes next to it.
            </p>
          </li>
          <li class="steps-item text-with-padding">
            <p class="how-works-text">
              Click on the basket and fill out the form.
            </p>
          </li>
          <li class="steps-item">
            <p class="how-works-text">
              Sit back and relax! Your fresh vegetables basket will be
              delivered.
            </p>
          </li>
        </ol>

        <ul class="number-list">
          <li class="number-item">
            <p class="number">1</p>
          </li>
          <li class="number-item">
            <p class="number">2</p>
          </li>
          <li class="number-item">
            <p class="number">3</p>
          </li>
        </ul>
      </div>
    </div>
    <picture class="how-to-by-pic">
      <source
        srcset="
          ./img/steps-girl-desktop.png    1x,
          ./img/steps-girl-desktop-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/steps-girl-tablet.png    1x,
          ./img/steps-girl-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        alt="Girl with lettuce"
        srcset="
          ./img/steps-girl-mobile.png    1x,
          ./img/steps-girl-mobile-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="how-to-by-pic"
        src="./img/steps-girl-mobile.png"
        alt="Girl with lettuce"
        width="258"
        height="319"
      />
    </picture>
  </div>
</section>
