<section class="how-it-works">
  <div class="how-works-container">
    <h2 class="how-works-title">
      To order your vegetable basket, simply follow these easy steps
    </h2>
    <img class="how-works-pic" src="" alt="Broccoli" />
    <ul class="how-works-list">
      <li class="how-works-item">
        <p class="how-works-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </li>
      <li class="how-works-item">
        <p class="how-works-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </li>
    </ul>
  </div>
  <div class="how-to-by">
    <div class="steps-container">
      <h3 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
      <ol class="steps-list">
        <li class="steps-item">
          <p>
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="steps-item">
          <p>Click on the basket and fill out the form.</p>
        </li>
        <li class="steps-item">
          <p>
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
    <img class="how-to-by-pic" src="" alt="Girl with lettuce" />
  </div>
</section>
