<section class="vegetables container">
  <h2 class="veg-title">ORGANIC vegetables</h2>
  <p class="veg-descr">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="veg-item-list">
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Carrot</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/carrot.png 1x, ./img/carrot2x.png 2x"
        class="veg-img"
        src="./img/carrot.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">100 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Brussel sprouts</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/brussel.png 1x, ./img/brussel2x.png 2x"
        class="veg-img"
        src="./img/brussel.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">80 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Tomato</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/tomato.png 1x, ./img/tomato2x.png 2x"
        class="veg-img"
        src="./img/tomato.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">40 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Eggplant</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/eggplant.png 1x, ./img/eggplant2x.png 2x"
        class="veg-img"
        src="./img/eggplant.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">60 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Sweet potatoes</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/potatoes.png 1x, ./img/potatoes2x.png 2x"
        class="veg-img"
        src="./img/potatoes.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">80 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Leek</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/leek.png 1x, ./img/leek2x.png 2x"
        class="veg-img"
        src="./img/leek.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">50 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Mushrooms</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/mushrooms.png 1x, ./img/mushrooms2x.png 2x"
        class="veg-img"
        src="./img/mushrooms.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">40 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Corn</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/corn.png 1x, ./img/corn2x.png 2x"
        class="veg-img"
        src="./img/corn.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">60 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper hide-vgtb-item">
      <h3 class="veg-item-title">Radish</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/radish.png 1x, ./img/radish2x.png 2x"
        class="veg-img"
        src="./img/radish.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">90 UAH / kg</p>
    </li>
  </ul>
  <button type="button" class="vegetable-btn-order">
    <svg class="vgtb-btn-svg">
      <use></use>
    </svg>
    ORDER
  </button>
</section>
