<section class="vegetables container">
  <h2 class="veg-title">ORGANIC vegetables</h2>
  <p class="veg-descr">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="veg-item-list">
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Carrot</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/carrot-mobile.png 1x, ./img/carrot-mobile-2x.png 2x"
        class="veg-img"
        src="./img/carrot-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">100 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Brussel sprouts</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/brussel-mobile.png 1x, ./img/brussel-mobile-2x.png 2x"
        class="veg-img"
        src="./img/brussel-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">80 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Tomato</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/tomato-mobile.png 1x, ./img/tomato-mobile-2x.png 2x"
        class="veg-img"
        src="./img/tomato-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">40 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Eggplant</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/eggplant-mobile.png 1x, ./img/eggplant-mobile-2x.png 2x"
        class="veg-img"
        src="./img/eggplant-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">60 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Sweet potatoes</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/potatoes-mobile.png 1x, ./img/potatoes-mobile-2x.png 2x"
        class="veg-img"
        src="./img/potatoes-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">80 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Leek</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/leek-mobile.png 1x, ./img/leek-mobile-2x.png 2x"
        class="veg-img"
        src="./img/leek-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">50 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Mushrooms</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/mushrooms-mobile.png 1x, ./img/mushrooms-mobile-2x.png 2x"
        class="veg-img"
        src="./img/mushrooms-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">40 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Corn</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/corn-mobile.png 1x, ./img/corn-mobile-2x.png 2x"
        class="veg-img"
        src="./img/corn-mobile.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">60 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper hide-vgtb-item">
      <h3 class="veg-item-title">Radish</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/radish-desktop.png 1x, ./img/radish-desktop-2x.png 2x"
        class="veg-img"
        src="./img/radish-desktop.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">90 UAH / kg</p>
    </li>
  </ul>
  <button type="button" class="vegetable-btn-order">
    <svg class="vgtb-btn-svg">
      <use href="./img/sprite.svg#icon-vector"></use>
    </svg>
    ORDER
  </button>
</section>
