<section class="vegetables " id="vegetables">
  <div class="container">
  <h2 class="veg-title">ORGANIC vegetables</h2>
  <p class="veg-descr">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="veg-item-list">
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Carrot</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="./img/carrot-desktop.png 1x, ./img/carrot-desktop-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/carrot-tablet.png 1x, ./img/carrot-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/carrot-mobile.png 1x, ./img/carrot-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/carrot-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">100 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Brussel sprouts</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="./img/brussel-desktop.png 1x, ./img/brussel-desktop-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/brussel-tablet.png 1x, ./img/brussel-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/brussel-mobile.png 1x, ./img/brussel-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/brussel-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">80 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Tomato</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="./img/tomato-desktop.png 1x, ./img/tomato-desktop-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/tomato-tablet.png 1x, ./img/tomato-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/tomato-mobile.png 1x, ./img/tomato-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/tomato-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">40 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Eggplant</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="
            ./img/eggplant-desktop.png    1x,
            ./img/eggplant-desktop-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/eggplant-tablet.png 1x, ./img/eggplant-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/eggplant-mobile.png 1x, ./img/eggplant-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/eggplant-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">60 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Sweet potatoes</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="
            ./img/potatoes-desktop.png    1x,
            ./img/potatoes-desktop-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/potatoes-tablet.png 1x, ./img/potatoes-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/potatoes-mobile.png 1x, ./img/potatoes-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/potatoes-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">80 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Leek</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="./img/leek-desktop.png 1x, ./img/leek-desktop-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/leek-tablet.png 1x, ./img/leek-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/leek-mobile.png 1x, ./img/leek-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/leek-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">50 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Mushrooms</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="
            ./img/mushrooms-desktop.png    1x,
            ./img/mushrooms-desktop-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/mushrooms-tablet.png    1x,
            ./img/mushrooms-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mushrooms-mobile.png    1x,
            ./img/mushrooms-mobile-2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./img/mushrooms-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">40 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper">
      <h3 class="veg-item-title">Corn</h3>
      <p class="veg-item-descr">Plant</p>
      <picture>
        <source
          srcset="./img/corn-desktop.png 1x, ./img/corn-desktop-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/corn-tablet.png 1x, ./img/corn-tablet-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/corn-mobile.png 1x, ./img/corn-mobile-2x.png 2x"
          media="(max-width:767px)"
        />
        <img
          src="./img/corn-mobile.png"
          alt="vegetables-image"
          class="veg-img"
        />
      </picture>
      <p class="veg-item-price">60 UAH / kg</p>
    </li>
    <li class="veg-item-wrapper hide-vgtb-item">
      <h3 class="veg-item-title">Radish</h3>
      <p class="veg-item-descr">Plant</p>
      <img
        srcset="./img/radish-desktop.png 1x, ./img/radish-desktop-2x.png 2x"
        class="veg-img"
        src="./img/radish-desktop.png"
        alt="vegetables-image"
      />
      <p class="veg-item-price">90 UAH / kg</p>
    </li>
  </ul>
  <button type="button" class="vegetable-btn-order" data-modal-open>

    <svg class="vgtb-btn-svg">
      <use href="./img/sprite.svg#icon-vector"></use>
    </svg>
    ORDER
  </button>
</div>
</section>
