<section class="we-will-call-you container">
  <div class="callback-container">
    <h2 class="callback-title">Fresh Harvest Box has got you covered</h2>
    <p class="callback-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="callback-form">
      <label>
        <input
          type="number"
          name="user-tel"
          class="callback-input"
          placeholder="+380 ()"
        />
      </label>
      <button class="callback-button button">Recall</button>
    </form>
  </div>
  <img src="" alt="" width="335px" height="388px" />
</section>
