<!-- Modal -->

<div class="backdrop">
  <div class="modal">
    <button class="close-btn-modal" type="button">
      <svg height="16" width="16" class="icon-close-modal">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <p class="title-modal">Your Order</p> -->
    <!-- <form class="modal-form">
      <div class="modal-check">
        <input
          type="checkbox"
          id="user-choice"
          name="user-choice"
          value="true"
          class="input-check visually-hidden"
        />
        <label class="label-check" for="user-choice">
          <span class="check-icon">
            <svg>
              <use></use>
            </svg> </span
          >Cabbage Basket
        </label>
      </div>
    </form> -->
  </div>
</div>
