<!-- Modal -->

<div class="backdrop" data-modal>
  <div class="modal">
    <button class="close-btn-modal" data-modal-close type="button">
      <svg height="24" width="24" class="icon-close-modal">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="title-modal">Your Order</p>
    <form class="modal-form">
      <div class="modal-check">
        <div class="modal-container">
          <input
            type="checkbox"
            id="user-choice"
            name="user-choice"
            value="true"
            class="input-check visually-hidden"
            checked
          />
          <label class="label-check" for="user-choice">
            <span class="check-box">
              <svg height="6" width="6" class="check-icon">
                <use href="./img/sprite.svg#icon-checkbox"></use>
              </svg>
            </span>
          </label>

          <div class="modal-wrap">
            <h3 class="modal-subtitle">Cabbage Basket</h3>

            <p class="modal-text">Plant</p>
          </div>

          <picture>
            <source
              srcset="
                ./img/modal-cabbage-desktop.png    1x,
                ./img/modal-cabbage-desktop-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/modal-cabbage-tablet.png    1x,
                ./img/modal-cabbage-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/modal-cabbage-mobile.png    1x,
                ./img/modal-cabbage-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="img-modal"
              src="./img/modal-cabbage-desktop.png"
              alt="cabbage"
            />
          </picture>
        </div>
        <div class="modal-container">
          <input
            type="checkbox"
            id="user-choice1"
            name="user-choice"
            value="true"
            class="input-check1 visually-hidden"
          />
          <label class="label-check1" for="user-choice1">
            <span class="check-box">
              <svg height="6" width="6" class="check-icon">
                <use href="./img/sprite.svg#icon-checkbox"></use>
              </svg>
            </span>
          </label>

          <h3 class="modal-subtitle">Tomato Basket</h3>

          <p class="modal-text">Plant</p>

          <picture>
            <source
              srcset="
                ./img/modal-tomato-desktop.png    1x,
                ./img/modal-tomato-desktop-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/modal-tomato-tablet.png    1x,
                ./img/modal-tomato-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/modal-tomato-mobile.png    1x,
                ./img/modal-tomato-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="img-modal"
              src="./img/modal-tomato-desktop.png"
              alt="tomato"
            />
          </picture>
        </div>
        <div class="modal-container">
          <input
            type="checkbox"
            id="user-choice2"
            name="user-choice"
            value="true"
            class="input-check2 visually-hidden"
          />
          <label class="label-check2" for="user-choice2">
            <span class="check-box">
              <svg height="6" width="6" class="check-icon">
                <use href="./img/sprite.svg#icon-checkbox"></use>
              </svg>
            </span>
          </label>

          <h3 class="modal-subtitle">Vegetables Basket</h3>

          <p class="modal-text">Plant</p>

          <picture>
            <source
              srcset="
                ./img/modal-vegetables-desktop.png    1x,
                ./img/modal-vegetables-desktop-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/modal-vegetables-tablet.png    1x,
                ./img/modal-vegetables-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/modal-vegetables-mobile.png    1x,
                ./img/modal-vegetables-mobile-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="img-modal"
              src="./img/modal-vegetables-desktop.png"
              alt="vegetables"
            />
          </picture>
        </div>
      </div>
      <div class="form-box">
        <div class="modal-field">
          <label class="modal-label"></label>

          <div class="input-wrap">
            <input
              type="text"
              name="user-name"
              placeholder="Enter full name..."
              class="modal-input"
            />
          </div>
        </div>
        <div class="modal-field">
          <label class="modal-label"></label>

          <div class="input-wrap">
            <input
              type="text"
              name="user-email"
              placeholder="Enter email..."
              class="modal-input"
            />
          </div>
        </div>
        <div class="modal-field">
          <label class="modal-label"></label>

          <div class="input-wrap">
            <input
              type="text"
              name="user-card"
              placeholder="Enter card.."
              class="modal-input"
            />
          </div>
        </div>
        <div class="textarea-wrap">
          <label class="modal-label"></label>

          <div class="input-wrap">
            <textarea
              type="text"
              name="user-comment"
              placeholder="Enter comments..."
              class="modal-area"
            ></textarea>
          </div>
        </div>
      </div>
      <button type="submit" class="submit-btn-modal">Submit</button>
    </form>
    <div class="img-box-modal">
      <picture>
        <source
          srcset="
            ./img/modal-girl-desktop.png    1x,
            ./img/modal-girl-desktop-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/modal-girl-tablet.png    1x,
            ./img/modal-girl-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img class="img-modal" src="./img/modal-girl-desktop.png" alt="girl" />
      </picture>
    </div>
  </div>
</div>
