.footer {
  display: flex;
  flex-direction: column;
  background: var(--main-background-color);
  padding-top: 80px;
  padding-bottom: 80px;
}

.image-broc {
  width: 335px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.image-logo-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  color: #141414;
  text-align: center;
  font-size: 14px;
  /* font-family: DM Sans; */
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* .logo:hover {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.logo-icon {
  margin-right: 8px;
}

.menu {
  margin-bottom: 40px;
}

.menu-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menu-item {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.menu-link:hover {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:focus {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.soc-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #141414;
  display: flex;
  padding: 8px;
}

.soc-icon-link:hover {
  color: var(--accent-orange-color);
  border-color: var(--accent-orange-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-link:focus {
  color: var(--accent-orange-color);
  border-color: var(--accent-orange-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  fill: currentColor;
  opacity: 0.800000011920929;
}

/* .soc-icon {
} */

/* .address {
} */

.address-list {
  display: flex;
  flex-direction: column;
  max-width: 143px;
  gap: 20px;
  margin: 0 auto;
}

.address-item {
  display: flex;
  justify-content: center;
}

.address-link-tel:hover {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-tel:focus {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-tel {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
}

.address-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.address-link:hover {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus {
  color: var(--accent-orange-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-links-footer {
    max-height: 275px;
    display: flex;
    flex-direction: column;
  }

  .image-broc {
    margin-left: 0;
  }

  .image-logo-sec {
    display: flex;
    align-items: flex-start;
    max-width: 335px;
  }

  .logo {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .menu {
    display: flex;
    justify-content: center;
    max-width: 335px;
    /* margin-bottom: 0; */
  }

  .medias-address-sec {
    display: flex;
    flex-direction: column;
  }

  .address {
    display: flex;
    align-items: start;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    max-width: 184px;
  }

  .address-item {
    display: block;
  }

  .address-link-tel {
    color: #141414;
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  .address-link {
    color: #141414;
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    justify-content: space-between;
  }

  .image-broc {
    margin-bottom: 0;
  }

  .logo {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .logo-links-footer {
    display: flex;
    flex-direction: row;
    /* align-items: ; */
    justify-content: space-between;
  }

  .menu-list {
    display: flex;
    align-items: center;
    width: 240px;
    margin: 0 auto;
  }
}
