.page-heder {
    /* height: 50px; */
}

.heder-container {
    height: 50px;
    display: flex;
    justify-content: space-between;

}

.nav-heder {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.icon-logo {
    fill: #77AC63;
    margin-right: 8px;
}

.logo-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    color: #141414;
}

.mob-menu-open {
    border: none;
    background-color: transparent;

    padding: 0;
    fill: #77AC63;
    transition: var(--transition-dur-and-func);
    line-height: 0;
}