.hero-container {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 20px;
}
.reviews-group {
  margin-bottom: 14px;

  display: flex;
  position: relative;
}
.review:last-child {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #f9f7f4;
  font-size: 14px;
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;

  display: flex;
  text-align: center;
  flex-direction: column;

  padding-top: 10px;
}
.review-2k {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: -0.32px;
  
}
.review:not(:last-child) {
  margin-right: -16px;
}
.hero-sec {
  background: #a1c487;
}
.hero-title {
  text-transform: uppercase;

  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);

  font-size: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;

  margin-bottom: 14px;
}
.veg-title-hero {
  font-family: 'DM Sans';
  font-style: italic;
  color: #eaf7e5;
}
.hero-text {
  color: #fff;

  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);

  font-size: 14px;
  font-family: 'DM Sans';
  font-weight: 400;
  line-height: 1.285;
  letter-spacing: -0.56px;

  margin-bottom: 20px;
}
.buy-button {
  width: 68px;
  height: 68px;
  border-radius: 50%;

  transform: rotate(-14deg);

  color: #fc8a11;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);

  font-size: 14px;
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: #faf3e7;
}
.buy-button:hover,
.buy-button:focus {
  color: #a1c487;
  background: #eaf7e5;
  transition: var(--transition-dur-and-func);
}
.hero-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.products-hero-hash {
  width: 171px;
  margin-left: auto;
}
.products-hero {
  display: flex;
  flex-direction: row;
  gap: 4px;
  /* border-radius: 1000px; */
  flex-wrap: wrap;
}
.product-hero {
  display: flex;
  padding: 8px 14px;
  border-radius: 1000px;
  text-align: center;

  border: 1px solid #fff;

  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
.product-hero:first-child {
  color: #141414;
  background-color: #f9f7f4;
}
/* ........................................................................MEDIA...................................... */
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 64px;
    padding-bottom: 32px;
  }
  .reviews-group {
    margin-bottom: 16px;
  }
  .review:last-child {
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: -0.72px;
    margin-top: 2px;
  }
  .review-2k {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin-top: -2px;
  }
  .review:not(:last-child) {
    margin-right: -19px;
  }
  .hero-title {
    font-size: 54px;
    line-height: 1.185;
    letter-spacing: -2.16px;
    margin-bottom: 16px;
  }
  .hero-text {
    max-width: 490px;
    margin-bottom: 32px;
  }
  .buy-button {
    width: 114px;
    height: 114px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
  }
  .products-hero-hash {
    width: 221px;
  }
  .products-hero {
    gap: 0px;
    column-gap: 8px;
    row-gap: 4px;
  }
  .product-hero {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
    padding: 10px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 127px;
    padding-bottom: 32px;
  }
  .review:last-child {
    width: 70px;
    height: 70px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
    padding-top: 16px;
    /* margin-top: 2px; */
  }
  .review-2k {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: -0.48px;
    margin-top: 2px;
  }
  .review:not(:last-child) {
    margin-right: -25px;
  }
  .hero-img {
    margin-right: 0;
  }
  .hero-title {
    max-width: 672px;
    font-size: 64px;
    line-height: 1.171;
    letter-spacing: -2.56px;
    margin-bottom: 16px;
  }
  .hero-text {
    max-width: 491px;
  }
  .buy-button {
    width: 132px;
    height: 132px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -1.12px;
  }
  .products-hero-hash {
    width: 269px;
  }
  .products-hero {
    column-gap: 8px;
    row-gap: 8px;
  }
  .product-hero {
    padding: 12px 32px;
}
}