img {
  display: block;
  max-width: 100%;
  height: auto;
}

.vegetables {
  padding-bottom: 80px;
}
.veg-title {
  color: #141414;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.veg-descr {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
}

.veg-item-title {
  color: #141414;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.96px;
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 8px;
}
.veg-item-descr {
  color: #141414;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-left: 20px;
  margin-bottom: 40px;
}
.veg-item-price {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.veg-item-wrapper {
  height: 443px;
  width: 100%;
  background-color: #eaf7e5;
  flex-shrink: 0;
  border-radius: 12px;
}
.veg-item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.veg-img {
  margin: 0 auto;
  margin-bottom: 22px;
  width: 299px;
  height: 249px;
  flex-shrink: 0;
}
.veg-item-price {
  padding-left: 20px;
  padding-bottom: 20px;
}
.hide-vgtb-item {
  display: none;
}
.vegetable-btn-order {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  cursor: pointer;
  background-color: #fc8a11;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transform: rotate(-14deg);
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vegetable-btn-order:hover,
.vegetable-btn-order:focus {
  background-color: #a1c487;
}
.vgtb-btn-svg {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .veg-title {
    color: #141414;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.12px;
    text-transform: uppercase;
  }
  .veg-descr {
    color: #141414;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
    max-width: 562px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .veg-img {
    width: 321px;
    height: 261px;
    margin-bottom: 32px;
  }
  .veg-item-title {
    padding-top: 64px;
    padding-left: 24px;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.12px;
  }
  .veg-item-descr {
    padding-left: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    margin-bottom: 0;
  }
  .veg-item-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
  .veg-item-wrapper {
    height: 465px;
    width: calc((100% - 20px) / 2);
  }
  .veg-item-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .vegetable-btn-order {
    width: 114px;
    height: 114px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  .vgtb-btn-svg {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .veg-title {
    color: #141414;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
  }
  .veg-descr {
    color: #141414;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
    max-width: 562px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .veg-item-title {
    padding-top: 64px;
    padding-left: 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
  }
  .veg-img {
    width: 321px;
    height: 261px;
    margin-bottom: 32px;
  }
  .veg-item-descr {
    padding-left: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    margin-bottom: 0;
  }
  .veg-item-price {
    padding-bottom: 24px;
    padding-left: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  .veg-item-wrapper {
    height: 465px;
    width: calc((100% - 48px) / 3);
  }
  .veg-item-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
  }
  .hide-vgtb-item {
    display: block;
  }
  .vegetable-btn-order {
    width: 114px;
    height: 114px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  .vgtb-btn-svg {
    width: 14px;
    height: 14px;
  }
}
