.we-will-call-you {
  background-color: var(--primary-white-color);
  padding-bottom: 80px;
}

.callback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.callback-title {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 6px;
  padding-right: 6px;
}

.callback-text {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 40px;
  padding-left: 7px;
  padding-right: 7px;
}

.callback-form {
  position: relative;
}

.callback-input {
  width: 100%;
  height: 48px;
  border-radius: 100px;
  border: 1px solid var(--primary-text-color);
  opacity: 0.30000001192092896;
  padding-left: 24px;
  padding-right: 105px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.callback-input::placeholder {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  color: var(--text-grey-color);
}

.callback-button {
  width: 105px;
  height: 48px;
  color: var(--primary-white-color);
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  border-radius: 100px;
  border: none;
  background: var(--accent-orange-color);
  padding: 15px 35px;
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--transition-dur-and-func);
}

.callback-button:hover,
.callback-button:focus {
  background-color: var(--accent-green-color);
}

.callback-picture {
  padding-top: 31px;
  width: 335px;
  border-radius: 40px;
  background-color: var(--extra-background-color);
  background-image: url(../img/background-call-you-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  justify-content: center;
}

/* @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .callback-picture {
    background-image: url(../img/background-call-you-mobile-2x.png);
  }
} */

@media screen and (max-width: 374px) {
  .callback-title {
    font-size: 20px;
  }
  .callback-picture {
    width: 260px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .we-will-call-you {
    padding-bottom: 173px;
  }

  .callback-container {
    padding-bottom: 80px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .callback-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .callback-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .callback-input {
    min-width: 350px;
  }

  .callback-picture {
    border-radius: 80px;
    padding-top: 17px;
    width: 704px;
    height: 463px;
    background-image: url(../img/background-call-you-tablet.png);
  }

  /* @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .callback-picture {
      background-image: url(../img/background-call-you-tablet-2x.png);
    }
  } */
}

@media screen and (min-width: 1280px) {
  .we-will-call-you {
    padding-bottom: 124px;
  }

  .container-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .callback-container {
    padding-top: 98px;
    padding-bottom: 98px;
    padding-left: 0;
    padding-right: 0;
    justify-content: start;
    align-items: start;
  }

  .callback-title {
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    width: 614px;
    text-align: start;
  }

  .callback-text {
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    width: 523px;
    text-align: start;
  }

  .callback-picture {
    padding-top: 37px;
    width: 525px;
    height: 536px;
    background-image: url(../img/background-call-you-desktop.png);
  }

  /* @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .callback-picture {
      background-image: url(../img/background-call-you-desktop-2x.png);
    }
  } */
}
